body {
    width: 100%;
    font-family: 'Verdana', 'Ubuntu', sans-serif;
    background: url("../img/fon.png") no-repeat center center fixed;
    background-size: cover;
}

.header{
    display: flex;
    align-items: center;
    width: 100%;
    height: 58px;
    background: rgba(0, 0, 0, 0.4);
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    margin: 0;
}
.icons{
    display: inline-flex;
    margin-left: auto;
}
.img{
    margin-right: 25px;
}
.icon-link:hover{
    color: #3CB878;
}
.header-accent-color:hover{
    color: #3CB878;
}
.logo{
    margin: 0 79px;
    font-weight: 700;
    font-size: 22px;
    line-height: 22px;
    color: #FFFFFF;
    transition: color .5s .1s;
}
.logo:hover{
    color: #3CB878;
}
.header-links{
    display: inline-flex;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    margin-right: 79px;
    margin-left: 27px;
}
.header-link-text{
    margin-right: 4px;
    margin-left: 4px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #FFFFFF;
    transition: color .5s .1s;
}
.header-link-text:hover{
    color: #3CB878;
}
.header-link:before{
    content: "";
    height: 19px;
    width: 1px;
    position: absolute;
    right: 300px;
    background: rgba(255, 255, 255, 0.9);
    top: 20px;
}


/*<=========================forms==========================>*/
.container{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}
.contact-form{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 444px;
    height: 625px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 18px rgba(0, 0, 0, 0.52);
}
.contact-title{
    display: flex;
    justify-content: space-between;
}
.contact-wrapper{
    width: 324px;
    height: 515px;
    position: relative;
}
.form-title{
    margin: 0;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.form-title::before{
    content: "";
    width: 18px;
    height: 18px;
    background-color: #3CB878;
    position: absolute;
    left: -59px;
}
.form-subtitle{
    margin-top: 2px;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.inputs-wrapper{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
    margin-bottom: 35px;
    padding-left: 0;
    list-style: none;
}
.input-button{
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    padding: 15px 22px 15px 12px;
    width: 160px;
    height: 48px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 4px;
    transition: background-color .5s .2s;
}
.input-button::after{
    content: "";
    position: absolute;
    width: 1px;
    height: 28px;
    left: 48px;
    top: 10px;
    background-color: #0A162F;
    opacity: 0.1;
}
.input-button-all{
    position: relative;
}
.facebook{
    background-color: #305DB8;
}
.google{
    background-color: #DF4A32;
}
.facebook:hover{
    background-color: #022263;
}
.google:hover {
    background-color: #AB1F09;
}
.or{
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
    font-weight: 400;
    font-size: 14px;
    line-height: 14px;
    color: #848484;
    position: relative;
}
.or::before{
    content: " ";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    left: 0;
    top: 8px;
}
.or::after{
    content: " ";
    width: 152px;
    height: 1px;
    background-color: #F2F2F2;
    position: absolute;
    left: 171px;
    top: 8px;
}

.form-field-description{
    display: none;
    font-size: 14px;
    line-height: 14px;
}
.form-field{
    padding: 14px 20px;
    border-radius: 4px;
    border: 1px solid #F2F2F2;
    margin-bottom: 11px;
    width: 100%;
    outline: none;
    cursor: pointer;
    transition: box-shadow .5s .1s;
}
.form-field:focus{
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.21);
    cursor: auto;
}
::placeholder{
    text-transform: capitalize;
    font-size: 14px;
    line-height: 14px;
    color: #BEBEBE;
}
.input-button-create{
    font-size: 16px;
    line-height: 16px;
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    padding: 16px 99px;
    color: #FFFFFF;
    transition: .5s;
}
.input-button-create:hover{
    background-color: #01813F;
}
.accent-color{
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
}
.checkbox-text{
    font-size: 14px;
    line-height: 14px;
    color: #434343;
    margin-top: 0;
    margin-bottom: 36px;
}